[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
fmt = "sh -c 'black --line-length 120 .'"